/* Separate .css file, because animations was not working correctly in MaterialUI... */

.blue-stripe {
  position: fixed;
  top: 372px;
  left: 0px;
  width: 100%;
  height: 76px;
  background-color: #a4bcda;
  z-index: 1;
}

.typed-title {
  font-weight: 700;
  color: #ffffff;
}

.typed-content {
  font-weight: normal;
  /* color: #72767d; */
  color: #b9bbbe;
  letter-spacing: 0rem;
}

.typed-text {
  font-weight: 500;
  /* color: #dd7732; */
  color: #7289da;
  letter-spacing: 0rem;
}

.container {
  font-family: 'Montserrat', sans-serif;
  background-color: #2f3136;
  color: #eee;
  height: calc(100vh - 48px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.container p {
  font-size: 3rem;
  padding: 0.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}

.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}